# Entorno: dev o production
PEARPAY_IZIPAY_ENV=dev

# URL del endpoint (opcional si usas el valor por defecto)
PEARPAY_IZIPAY_API_URL=https://api.micuentaweb.pe/api-payment/V4/Charge/CreatePayment

# Credenciales DEV
PEARPAY_IZIPAY_DEV_USERNAME=
PEARPAY_IZIPAY_DEV_PASSWORD=
PEARPAY_IZIPAY_DEV_PUBLIC_KEY=
PEARPAY_IZIPAY_DEV_HMAC_SHA256=

# Credenciales PROD
PEARPAY_IZIPAY_PROD_USERNAME=
PEARPAY_IZIPAY_PROD_PASSWORD=
PEARPAY_IZIPAY_PROD_PUBLIC_KEY=
PEARPAY_IZIPAY_PROD_HMAC_SHA256=